


.shopping__title {
    color: var(--dark-pink);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    padding: 59px 0px 0px;
}

.data {
    display: flex;
    justify-content: space-between;
}

.data_cart {
    margin: 96px 129px 128px 0px;
}

.cart-1 {
    min-height: 306px;
    width: 652px;
    position: relative;
}

.cart-cross-1 {
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgb(87, 87, 87);
    background-color: transparent;
    height: 18px;
    width: 18px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 28px 22px 0px 0px;
}

.cart-2 {
    min-height: 306px;
    width: 652px;
    position: relative;
}

.cart-cross-2 {
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgb(87, 87, 87);
    background-color: transparent;
    height: 18px;
    width: 18px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 28px 22px 0px 0px;
}

.button {
    display: flex;
}

.button_clear {
    height: 50px;
    width: 235px;
    background-color: var(--total-white);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    border: 1px solid var(--light-grey);
    margin: 73px 193px 0px 0px;
}

.button_clear:active, .button_clear-text:active {
    opacity: 0.5;
}

.button_clear:hover, .button_clear-text:hover {
    background-color: var(--dark-pink);
    color: var(--total-white);
}

.button_clear-text {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-decoration: none;
}

.button_continue {
    height: 50px;
    width: 225px;
    background-color: var(--total-white);
    border: 1px solid var(--light-grey);
    margin: 72px 0px 0px;
}

.button_continue-text {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-decoration: none;
}

.button_continue:active, .button_continue-text:active {
    opacity: 0.5;
}

.button_continue:hover, .button_continue-text:hover {
    background-color: var(--dark-pink);
    color: var(--total-white);
}

.data_adress {
    margin: 113px 0px 342px;
}

.adress-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    color: var(--dark-blue);
    text-transform: uppercase;
    margin: 0px 0px 21px;
}

.adress-name {
    display: block;
    height: 45px;
    width: 360px;
    border: 1px solid var(--light-grey);
    margin: 0px 0px 21px;
}

[type="text"]:hover, [type="text"]:focus {
    background-color: var(--pink);
    outline: none;
    border: 1px solid var(--dark-pink);
}

.adress-button {
    text-transform: uppercase;
    height: 34px;
    width: 100px;
    background-color: var(--total-white);
    border: 1px solid var(--light-grey);
    margin: 3px 0px 0px;
}

.adress-button-text {
    color: rgb(74, 74, 74);
    font-family: Lato;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    text-decoration: none;
}

.adress-button:active, .adress-button-text:active {
    opacity: 0.5;
}

.adress-button:hover, .adress-button-text:hover {
    background-color: var(--dark-pink);
    color: var(--total-white);
}

.total {
    height: 214px;
    width: 360px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(245, 243, 243);
    margin: 57px 0px 0px;
}

.total-sub {
    text-transform: uppercase;
    height: 13px;
    width: 108px;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: right;
    color: rgb(74, 74, 74);
    padding: 39px 34px 12px 218px;
}

.total-grand {
    text-transform: uppercase;
    height: 19px;
    width: 170px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: right;
    padding: 0px 37px 21px 153px;
}

.total-grand-pink {
    font-weight: 700;
    line-height: 19px;
    text-align: right;
    color: var(--dark-pink);
}

.total-line {
    padding: 0px 42px 17px;
}

.total-button {
    height: 50px;
    width: 273px;
    background-color: var(--dark-pink);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px 43px 42px 44px;
}

.total-button-text {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: var(--total-white);
    text-decoration: none;
}

.total-button:active, .total-button-text:active {
    opacity: 0.5;
}

.total-button:hover, .total-button-text:hover, .total-button:focus, .total-button-text:focus {
    background-color: var(--dark-blue);
    color: var(--total-white);
}



