:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
--dark-pink: #F16D7F;
--brown: #474040;
--dark-grey: #222224;
--white: #FBFBFB;
--total-white: #FFFFFF;
--pink-white: #F8F3F4;
--grey: #B1B1B1;
}



.registration {
    text-transform: uppercase; 
    min-height: 148px;
    background-color: var(--pink-white);
}

.registration__title {
    color: var(--dark-pink);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
padding: 59px 0 0;
}

.data {
    display: flex;
    justify-content: space-between;
    margin: 64px 0 0;
}

.information {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
}


.form__name {
    width: 360px;
    min-height: 45px;
    display: block;
    margin: 0 0 21px;
    border-color: #A4A4A4;
    border-style: solid;
    color: #B1B1B1;
}

.form__name::placeholder {
font-family: Lato;
font-size: 13px;
font-weight: 300;
line-height: 16px;
text-align: left;
color: var(--grey);
padding: 12px 0 16px 17px;
}

.form__choice {
    display: flex;
justify-content: space-between;
    min-height: 17px;
    width: 132px;
    font-weight: 300;
    font-size: 11px;
    margin: 32px 0;
}

[type="radio"] {
    display: none;
}

.radio-label {
    margin: 0 0 0 25px;
position: relative;
}

.radio-label::before {
    content: '';
    position: absolute;
    background-image: url(../img/registration.png);
    width: 17px;
    height: 17px;
    left: -25px;
    background-color: transparent;
}

[type="radio"]:checked + .radio-label::before {
    background-color: var(--dark-pink);
    border-radius: 10px;
}

.form__title {
min-height: 19px;
width: 136px;
font-size: 16px;
font-weight: 300;
line-height: 19px;
text-align: left;
margin: 0 0 21px;
}

[type="text"]:hover,
[type="text"]:focus,
[type="email"]:hover,
[type="email"]:focus,
[type="password"]:hover,
[type="password"]:focus{
background-color: var(--pink);
outline: none;
border: 1px solid var(--dark-pink);
}



.form__text{
min-height: 32px;
width: 359px;
font-size: 13px;
font-weight: 300;
line-height: 16px;
text-align: left;
color: var(--grey);
margin: -6px 0 0;
}

[type="submit"] {
    min-height: 50px;
    width: 167px;
    background-color: var(--dark-pink);
    color: var(--total-white);
font-size: 14px;
font-weight: 400;
text-align: left;
text-transform: uppercase;
border: none;
margin: 39px 0 96px 0;
padding: 16px 26px 17px 29px;
align-content: center;
}

.submit_join {
height: 10px;
width: 17px;
margin: 0 0 0 20px;
}

[type="submit"]:hover,
[type="submit"]:focus{
background-color: var(--dark-blue);
}

[type="submit"]:active {
    opacity: 0.5;
}


.data__loyalty {
    font-family: Lato;
font-size: 24px;
font-weight: 300;
line-height: 29px;
text-align: left;
min-height: 334px;
width: 652px;
}

.data__loyalty-title {
    text-transform: uppercase;
color: #000000;
width: 265px;
min-height: 29px;
font-weight: 300;
font-size: 24px;
line-height: 29px;
margin: 0 0 22px;
}

.data__loyalty-subtitle {
width: 652px;
min-height: 58px;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #000000;
margin: 0 0 21px;
}

.data__loyalty-mark {
    position: relative;
    list-style-type: none;
    margin: 0 0 16px;
}

.data__loyalty-mark::before {
    
    position: absolute;
content: '';
height: 16px;
width: 20px;
position: absolute;
left: -30px;
top: 7px;
background-image: url(../img/checkmark.png);
}